@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap");
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Tektur";
}
.container {
  width: 700px;
  min-height: 75vh;
  padding: 100px;
  display: flex;
  justify-content: center;
}
.calculator {
  flex: 1;
  border: 10px solid #84def8;
  background-color: #b6ebfb;
  border-radius: 4px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}
#display {
  min-height: 25%;
  background-color: #f6fdff;
  margin-bottom: 4px;
  border: 4px solid #fde6df;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#display p {
  margin: 0;
  margin-right: 4px;
  font-size: 60px;
}

.row {
  display: flex;
  justify-content: center;
  flex: 1;
  gap: 4px;
}
.numberBtn,
.functionBtn {
  flex: 1;
}
button {
  font-size: 36px;
  font-family: "Tektur";

  border: 2px solid #f89f84;
  border-radius: 6px;
  background-color: #fbc6b6;
}
button:active {
  opacity: 0.6;
}

.numberBtn {
  background-color: lightgoldenrodyellow;
  border-color: goldenrod;
}

#clearBtn {
  background-color: red;
  border-color: darkred;
  color: white;
}
